<div class="wrapper">

  <div class="sidebar" data-color='red' data-image="">
      <!-- sidebar -->
      <app-sidebar></app-sidebar>
       <!-- sidebar -->
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
      <!-- navbar -->
      <app-navbar></app-navbar>
     <!-- navbar -->
    
          
     <div class="main-content">
      <div class="container-fluid">
          <div class="card">
                <div class="card-header" data-background-color="red" >
                        <h4 class="title" >Danh Sách Giáo Viên</h4>
                      <div class="input-field col s10" >
                           
                      <div class="form-group form-black is-empty" style="text-align: center;">
                          <input type="text" class="form-control" placeholder="Search">
                          <span class="material-input"></span>
                      </div>
                   
                      </div>
                    </div>
              <div class="content-card">
                 
               <!-- panel -->
               <div class="panel">
                <div class="panel-heading"> 
                  <i class="fa fa-wrench" style=" position: absolute;right: 10px;"></i>
                  <i class="fa fa-remove" style=" position: absolute;right: 30px;"></i>
                  <span class="panel-title">
                  Class Name A</span>
                </div>
                <div class="panel-body" >
                 <h2>Classic</h2>
                  <h2>Code: 524521,52422,4</h2>
               </div>
               <div class="panel-body-right">
                 <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
               </div>
            </div>  
            <!-- panel -->
            
              </div>
          </div>
      </div>
  </div>
  
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
</div>
</div>  