<div class="wrapper">

  <div class="sidebar" data-color='red' data-image="">
      <!-- sidebar -->
      <app-sidebar></app-sidebar>
       <!-- sidebar -->
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
      <!-- navbar -->
      <app-navbar></app-navbar>
     <!-- navbar -->
    
          
     <div class="main-content">
      <div class="container-fluid">
          <div class="card">
              <div class="card-header" data-background-color="red">
                  <h4 class="title">Danh Sách Giáo Viên</h4>
              </div>
              <div class="content-card">
                 <!-- panel -->
                  <div class="panel">
                      <div class="panel-body">
                        <h2 style="font-weight: bold;">Nguyễn Viết Anh Nam</h2>
                        <h2 >Giáo viên ưu tú nhất...</h2>
                      </div>
                      <div class="panel-body-right">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
                     </div>
                  </div>  
                  <!-- panel -->
                  <!-- panel -->
                  <div class="panel">
                    <div class="panel-body">
                      <h2 style="font-weight: bold;">Nguyễn Viết Anh Nam</h2>
                      <h2 >Giáo viên ưu tú nhất...</h2>
                    </div>
                    <div class="panel-body-right">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
                   </div>
                </div>  
                <!-- panel -->
                <!-- panel -->
                <div class="panel">
                  <div class="panel-body">
                    <h2 style="font-weight: bold;">Nguyễn Viết Anh Nam</h2>
                    <h2 >Giáo viên ưu tú nhất...</h2>
                  </div>
                  <div class="panel-body-right">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
                 </div>
              </div>  
              <!-- panel -->
              <!-- panel -->
              <div class="panel">
                <div class="panel-body">
                  <h2 style="font-weight: bold;">Nguyễn Viết Anh Nam</h2>
                  <h2 >Giáo viên ưu tú nhất...</h2>
                </div>
                <div class="panel-body-right">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
               </div>
            </div>  
            <!-- panel -->
            <!-- panel -->
            <div class="panel">
              <div class="panel-body">
                <h2 style="font-weight: bold;">Nguyễn Viết Anh Nam</h2>
                <h2 >Giáo viên ưu tú nhất...</h2>
              </div>
              <div class="panel-body-right">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" >
             </div>
          </div>  
          <!-- panel -->
              
              </div>
          </div>
      </div>
  </div>
  
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
</div>
</div>  