<div class="wrapper">

        <div class="sidebar" data-color='red' data-image="">
            <!-- sidebar -->
            <app-sidebar></app-sidebar>
             <!-- sidebar -->
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
            <!-- navbar -->
            <app-navbar></app-navbar>
           <!-- navbar -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Biểu mẫu</h4>
                        <p class="category">Hoàn thành để được vào dữ liệu</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Nghề nghiệp" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Họ Và Tên">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Tuổi">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Địa Chỉ">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Thành Phố Đang Ở..">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Nơi Sinh">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <input type="text" class="form-control" placeholder="Mã">
                                    </div>
                                </div>
                            </div>
    
                            
    
                            <button type="submit" class="btn btn-danger pull-right">Cập Nhật Dữ Liệu</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
    
                    <div class="content">
                        <h6 class="category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <app-footer></app-footer>
             <!-- footer -->
</div>
</div>    